/* AdminPage.css */

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .card button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  