/* Container CSS */
.containerp {
    display: flex;
    justify-content: space-between;
    position: relative; 
    z-index: 1;
    gap: 50px;
    width: 100%; 
    height: 400px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  
 
  .category {
    text-align: center;
  }
  
 
  .image {
    border-radius: 50%;
    width: 180px; 
    height: 180px;
    object-fit: cover;
    background-color: antiquewhite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .image:hover {
    transform: scale(1.1); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  